In [1]:
#Try
python -m notebook

#Or, if you used pip3 to install the notebook:

python3 -m notebook

#On Mac OS Catalina and brewed Python3.7

SyntaxError: invalid syntax (3463508984.py, line 2)

In [ ]:
# Run the following comments to setup the python env 
# if you don't have python installed, pleaset install it first 
!/usr/bin/python3 -m pip install ipykernel -U --user --force-reinstall
!pip install pandas
!pip install geopy
!pip install ipynb

In [2]:
#import the libraries
import pandas as pd
import numpy as np

# Test the pandas library to read the csv file
wildfireData = pd.read_csv("./Datasets/updated_wildfire.csv")
wildfireData.head(10)

/var/folders/49/5ympyqjx7098rbtxzlhjcgx40000gn/T/ipykernel_53991/364210983.py:6: DtypeWarning: Columns (15,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  wildfireData = pd.read_csv("./Datasets/updated_wildfire.csv")

,OBJECTID,FOD_ID,FPA_ID,LOCAL_FIRE_REPORT_ID,FIRE_CODE,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,CONT_DATE,...,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,START_DATE,END_DATE,FIPS
0,1,1,FS-1418826,1.0,BJ8K,FOUNTAIN,2005,2453403.5,33,2453403.5,...,0.10,A,40.036944,-121.005833,6,63.0,63.0,2005-02-02,2005-02-02,6063.0
1,2,2,FS-1418827,13.0,AAC0,PIGEON,2004,2453137.5,133,2453137.5,...,0.25,A,38.933056,-120.404444,6,61.0,61.0,2004-05-12,2004-05-12,6061.0
2,3,3,FS-1418835,27.0,A32W,SLACK,2004,2453156.5,152,2453156.5,...,0.10,A,38.984167,-120.735556,6,17.0,17.0,2004-05-31,2004-05-31,6017.0
3,8,8,FS-1418854,3.0,BK5X,SLATE,2005,2453437.5,67,2453437.5,...,0.80,B,40.968056,-122.433889,6,NaN,NaN,2005-03-08,2005-03-08,NaN
4,9,9,FS-1418856,5.0,BLPQ,SHASTA,2005,2453444.5,74,2453444.5,...,1.00,B,41.233611,-122.283333,6,NaN,NaN,2005-03-15,2005-03-15,NaN
5,17,17,FS-1418878,109.0,NaN,POWER,2004,2453284.5,280,2453299.5,...,16823.00,G,38.523333,-120.211667,6,5.0,5.0,2004-10-06,2004-10-21,6005.0
6,18,18,FS-1418881,111.0,BHA3,FREDS,2004,2453291.5,287,2453295.5,...,7700.00,G,38.780000,-120.260000,6,17.0,17.0,2004-10-13,2004-10-17,6017.0
7,20,20,FS-1418887,8.0,AVPA,SPRING,2004,2453160.5,156,2453160.5,...,0.10,A,33.440833,-105.720556,35,27.0,27.0,2004-06-04,2004-06-04,35027.0
8,21,21,FS-1418888,12.0,A49Y,ANGRY,2004,2453175.5,171,2453175.5,...,0.10,A,33.307222,-105.628611,35,27.0,27.0,2004-06-19,2004-06-19,35027.0
9,22,22,FS-1418893,13.0,A5DG,DARK,2004,2453177.5,173,2453178.5,...,0.10,A,33.444444,-105.768056,35,27.0,27.0,2004-06-21,2004-06-22,35027.0