In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [3]:
import torch
from torch import nn
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset
from sklearn.model_selection import train_test_split

In [4]:
import numpy as np
import pandas as pd

In [211]:
butte = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Butte.csv")
calaveras = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Calaveras.csv")
dorado = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Dorado.csv")
fresno = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Fresno.csv")
humboldt = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Humboldt.csv")
kern = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_KERN.csv")
lassen = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Lassen.csv")
modoc = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Modoc.csv")
nevada = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Nevada.csv")
plumas = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Plumas.csv")
riverside = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Riverside.csv")
bernardino = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_San Bernardino.csv")
diego = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_San Diego.csv")
shasta = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Shasta.csv")
siskiyou = pd.read_csv("/content/drive/MyDrive/Wildfire (1)/Datasets/merged_tp_precip_wind_fmc_Siskiyou.csv")

In [212]:

def append_dataframes(dataframes):
    if len(dataframes) == 0:
        return None
    elif len(dataframes) == 1:
        return dataframes[0]
    else:
        combined_df = pd.concat(dataframes, ignore_index=True)
        return combined_df


dataframes_list = [butte, calaveras, dorado, fresno, humboldt, kern, lassen, modoc, dorado, nevada, plumas, riverside, bernardino, diego, shasta, siskiyou]

fire_data = append_dataframes(dataframes_list)

In [7]:
butte.head(70)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,0,464,2.0,B,39.735278,-121.336389,6,20080621,20080831,6007.0,20080621,389,222,306,0,1.245353,96
1,1,1,465,1.0,B,39.533339,-121.530711,6,20010808,20010808,6007.0,20010808,411,228,322,0,2.611998,0
2,2,2,466,12.0,C,39.355089,-121.772239,6,20041012,20041012,6007.0,20041012,328,133,233,0,3.008472,0
3,3,3,467,0.1,A,39.790389,-121.515500,6,20041011,20041011,6007.0,20041011,322,133,228,0,5.034409,0
4,4,4,468,787.5,E,39.777800,-121.552470,6,20080621,20080729,6007.0,20080621,389,222,306,0,1.245353,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,65,65,529,0.5,B,39.703289,-121.529600,6,20050910,20050910,6007.0,20050910,389,222,306,0,4.138236,80
66,66,66,530,2.0,B,39.836600,-121.624400,6,20030705,20030705,6007.0,20030705,367,189,278,0,3.549707,0
67,67,67,531,2.0,B,39.490500,-121.323969,6,20020215,20020215,6007.0,20020215,139,72,106,3,2.758727,0
68,68,68,532,0.1,A,39.851500,-121.685050,6,19990505,19990505,6007.0,19990505,283,72,178,0,1.345358,0
69,69,69,533,0.2,A,39.866031,-121.684231,6,19990506,19990506,6007.0,19990506,289,122,206,0,2.249716,0

In [8]:
calaveras.head(30)

,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,...,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,0,0,0,0,0,0,0,1.00,B,...,20070618,20070618,6009.0,20070618,184,74,135,0,1.513274,55.0
1,1,1,1,1,1,1,1,1,0.50,B,...,20001015,20001015,6009.0,20001015,179,-40,50,0,0.393192,0.0
2,2,2,2,2,2,2,2,2,0.10,A,...,20040825,20040825,6009.0,20040825,184,68,113,0,2.657545,71.0
3,3,3,3,3,3,3,3,3,1.00,B,...,20000825,20000825,6009.0,20000825,257,70,159,0,1.710815,0.0
4,4,4,4,4,4,4,4,4,0.10,A,...,20041008,20041008,6009.0,20041008,183,50,104,0,0.465721,71.0
5,5,5,5,5,5,5,5,5,0.10,A,...,20020329,20020329,6009.0,20020329,93,-81,16,0,0.649992,67.0
6,6,6,6,6,6,6,6,6,135.00,D,...,20060719,20060722,6009.0,20060719,209,126,167,25,2.668225,54.0
7,7,7,7,7,7,7,7,7,4.00,B,...,19990905,19990905,6009.0,19990905,209,51,119,0,0.478540,0.0
8,8,8,8,8,8,8,8,8,0.10,A,...,20000722,20000722,6009.0,20000722,271,59,184,0,2.093438,0.0
9,9,9,9,9,9,9,9,9,4.00,B,...,20060719,20060719,6009.0,20060719,209,126,167,25,2.668225,54.0
10,10,10,10,10,10,10,10,10,0.25,A,...,20060812,20060812,6009.0,20060812,213,41,131,0,2.457093,54.0
11,11,11,11,11,11,11,11,11,2.00,B,...,20020722,20020722,6009.0,20020722,215,71,144,0,2.486520,58.0
12,12,12,12,12,12,12,12,12,0.10,A,...,20030822,20030822,6009.0,20030822,163,40,107,0,1.518219,56.0
13,13,13,13,13,13,13,13,13,0.10,A,...,20070817,20070817,6009.0,20070817,222,78,146,0,2.124271,55.0
14,14,14,14,14,14,14,14,14,0.10,A,...,19991111,19991111,6009.0,19991111,170,-9,53,0,1.730030,0.0
15,15,15,15,15,15,15,15,15,0.10,A,...,20081016,20081016,6009.0,20081016,161,34,84,0,0.873666,51.0
16,16,16,16,16,16,16,16,16,0.10,A,...,20030922,20030922,6009.0,20030922,228,38,129,0,0.955188,56.0
17,17,17,17,17,17,17,17,17,0.10,A,...,20000723,20000723,6009.0,20000723,269,49,183,0,2.071191,0.0
18,18,18,18,18,18,18,18,18,0.20,A,...,19990724,19990724,6009.0,19990724,170,-3,89,0,2.382711,0.0
19,19,19,19,19,19,19,19,19,0.10,A,...,19980817,19980817,6009.0,19980817,194,51,118,0,1.737263,0.0
20,20,20,20,20,20,20,20,20,30.00,C,...,20001018,20001018,6009.0,20001018,180,-7,70,0,1.368826,0.0
21,21,21,21,21,21,21,21,21,1.00,B,...,20040324,20040324,6009.0,20040324,77,-8,28,0,2.643724,54.5
22,22,22,22,22,22,22,22,22,2.00,B,...,20000723,20000723,6009.0,20000723,269,49,183,0,2.071191,0.0
23,23,23,23,23,23,23,23,23,0.10,A,...,19980819,19980819,6009.0,19980819,178,31,99,0,1.445440,0.0
24,24,24,24,24,24,24,24,24,0.10,A,...,20071204,20071204,6009.0,20071204,150,9,93,0,1.777893,0.0
25,25,25,25,25,25,25,25,25,1.00,B,...,20070628,20070628,6009.0,20070628,189,64,121,0,3.224425,55.0
26,26,26,26,26,26,26,26,26,2.00,B,...,19991107,19991107,6009.0,19991107,69,-36,22,178,3.067571,0.0
27,27,27,27,27,27,27,27,27,0.10,A,...,20051119,20051119,6009.0,20051119,126,45,70,0,2.942680,91.0
28,28,28,28,28,28,28,28,28,1.00,B,...,20080503,20080503,6009.0,20080503,73,-5,28,0,2.292447,54.0
29,29,29,29,29,29,29,29,29,4.00,B,...,20040430,20040430,6009.0,20040430,142,-57,42,0,0.762161,53.0

In [9]:
fresno.head(30)

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,0,0,3160,0.10,A,37.271389,-119.182222,6,20060722,20060723,6019.0,20060722,400,239,322,0,1.801363,99.500
1,1,1,1,3161,0.10,A,37.419167,-118.966389,6,20060626,20060627,6019.0,20060626,400,239,322,0,1.712835,150.000
2,2,2,2,3162,0.10,A,37.017075,-119.611833,6,20071214,20071214,6019.0,20071214,400,239,322,0,3.496543,88.000
3,3,3,3,3163,0.50,B,37.235833,-118.993056,6,20070806,20070807,6019.0,20070806,400,239,322,0,1.958288,71.000
4,4,4,4,3164,7456.00,G,36.903611,-118.801111,6,20080725,20081212,6019.0,20080725,400,239,322,0,1.767747,86.500
5,5,5,5,3165,0.20,A,37.444444,-119.120000,6,20060721,20060721,6019.0,20060721,400,239,322,0,2.289743,99.500
6,6,6,6,3166,0.01,A,37.110278,-119.114167,6,20070918,20070918,6019.0,20070918,400,239,322,0,1.627889,50.750
7,7,7,7,3167,0.33,B,36.795833,-118.898611,6,20060709,20060709,6019.0,20060709,400,239,322,0,1.509599,117.000
8,8,8,8,3168,0.10,A,36.086761,-120.119919,6,20010703,20010703,6019.0,20010703,433,256,344,0,2.391338,87.250
9,9,9,9,3169,0.10,A,37.086111,-119.216667,6,20080902,20080902,6019.0,20080902,400,239,322,0,1.224092,64.000
10,10,10,10,3170,3.00,B,36.110900,-120.565100,6,20050604,20050604,6019.0,20050604,328,144,239,0,2.428362,117.857
11,11,11,11,3171,26.00,C,36.071700,-120.316489,6,20030725,20030726,6019.0,20030725,389,233,311,0,1.919716,92.750
12,12,12,12,3172,0.20,A,37.278611,-118.968889,6,20060719,20060719,6019.0,20060719,400,239,322,0,2.668225,74.667
13,13,13,13,3173,0.25,A,35.693333,-118.009722,6,20080325,20080325,6019.0,20080325,400,239,322,0,2.220928,91.750
14,14,14,14,3174,0.10,A,37.017700,-119.574050,6,20000625,20000625,6019.0,20000625,361,189,278,0,2.661803,120.000
15,15,15,15,3175,2.00,B,36.110900,-120.565100,6,20050604,20050604,6019.0,20050604,328,144,239,0,2.428362,117.857
16,16,16,16,3176,0.10,A,36.110900,-120.565100,6,20050605,20050605,6019.0,20050605,261,133,200,0,3.717114,117.857
17,17,17,17,3177,0.10,A,37.325000,-118.866944,6,20080913,20080914,6019.0,20080913,400,239,322,0,0.750003,62.500
18,18,18,18,3178,2.00,B,36.216689,-120.453361,6,20030826,20030826,6019.0,20030826,389,228,311,10,1.951637,75.500
19,19,19,19,3179,0.10,A,37.293056,-119.036667,6,20060721,20060722,6019.0,20060721,400,239,322,0,2.289743,99.500
20,20,20,20,3180,0.10,A,37.299722,-119.117222,6,20080728,20080728,6019.0,20080728,400,239,322,0,2.250200,86.500
21,21,21,21,3181,0.10,A,37.411667,-119.067778,6,20060626,20060626,6019.0,20060626,400,239,322,0,1.712835,150.000
22,22,22,22,3182,0.10,A,37.259167,-119.142222,6,20070812,20070812,6019.0,20070812,400,239,322,0,1.573344,71.000
23,23,23,23,3183,0.10,A,36.076569,-120.102000,6,20070917,20070917,6019.0,20070917,400,239,322,0,2.793079,50.750
24,24,24,24,3184,1.00,B,36.210719,-120.311100,6,20060707,20060707,6019.0,20060707,400,239,322,0,1.396173,117.000
25,25,25,25,3185,0.10,A,37.233611,-119.235556,6,20080829,20080829,6019.0,20080829,400,239,322,0,0.297317,64.000
26,26,26,26,3186,0.10,A,36.790833,-118.913889,6,20080902,20080902,6019.0,20080902,400,239,322,0,1.224092,64.000
27,27,27,27,3187,0.10,A,37.017700,-119.574050,6,20010708,20010708,6019.0,20010708,372,211,294,0,2.260466,87.250
28,28,28,28,3188,15.00,C,37.046850,-119.594519,6,20010620,20010620,6019.0,20010620,394,206,300,0,1.623082,94.429
29,29,29,29,3189,0.10,A,37.182222,-119.122778,6,20080911,20080911,6019.0,20080911,400,239,322,0,1.475570,62.500

In [10]:
humboldt.head(3)

,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,...,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,0,0,0,0,3615,0.2,A,40.908611,-123.615278,...,20060917,20060917,6023.0,20060917,150,111,133,0,5.449113,103.0
1,1,1,1,1,1,3616,1.0,B,40.032119,-124.047669,...,20070401,20070401,6023.0,20070401,150,111,133,0,3.404772,139.0
2,2,2,2,2,2,3617,903.0,E,40.399400,-123.949400,...,20080621,20080718,6023.0,20080621,150,111,133,0,2.274308,62.0

In [11]:
kern.head(3)

,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,4302,75.0,C,35.176956,-119.540608,6,20050804,20050804,6029.0,20050804,400,244,322,0,1.650767,64.5
1,1,4303,1223.0,F,35.305144,-118.666681,6,20030616,20030616,6029.0,20030616,361,200,283,0,1.646940,81.5
2,2,4304,80.0,C,34.921944,-119.404722,6,20080516,20080517,6029.0,20080516,400,244,322,0,2.450184,82.0

In [12]:
lassen.head(30)

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,0,0,5809,1.75,B,40.899167,-121.225278,6,20090802,20090802,6035.0,20090802,253,81,139,152,2.788690,109.0
1,1,1,1,5810,5.00,B,40.473200,-120.477700,6,20020723,20020724,6035.0,20020723,252,66,151,0,2.892818,141.0
2,2,2,2,5811,0.10,A,40.999722,-121.399722,6,20090802,20090805,6035.0,20090802,253,81,139,152,2.788690,109.0
3,3,3,3,5812,0.10,A,40.488056,-120.615778,6,20050908,20050908,6035.0,20050908,238,48,127,0,1.399039,117.0
4,4,4,4,5813,0.20,A,40.057500,-120.051700,6,20050909,20050909,6035.0,20050909,175,32,90,0,5.040073,117.0
5,5,5,5,5814,0.10,A,40.983200,-121.326100,6,20040814,20040814,6035.0,20040814,295,130,214,0,2.958949,147.0
6,6,6,6,5815,0.50,B,41.000300,-120.550300,6,20050909,20050910,6035.0,20050909,175,32,90,0,5.040073,117.0
7,7,7,7,5816,0.50,B,40.532861,-120.758119,6,20040524,20040524,6035.0,20040524,125,9,61,0,2.443862,173.0
8,8,8,8,5817,0.20,A,40.487400,-120.513800,6,20040814,20040815,6035.0,20040814,295,130,214,0,2.958949,147.0
9,9,9,9,5818,0.10,A,40.779900,-120.534400,6,20020718,20020718,6035.0,20020718,195,93,134,0,1.400147,141.0
10,10,10,10,5819,0.10,A,39.925600,-120.008300,6,20090801,20090801,6035.0,20090801,270,118,183,0,0.794290,109.0
11,11,11,11,5820,65.30,A,40.956400,-121.187800,6,20090802,20090802,6035.0,20090802,253,81,139,152,2.788690,109.0
12,12,12,12,5821,0.10,A,40.671900,-120.565800,6,20070620,20070620,6035.0,20070620,214,94,148,0,3.456857,173.0
13,13,13,13,5822,5.00,B,40.965600,-121.232500,6,20090802,20090802,6035.0,20090802,253,81,139,152,2.788690,109.0
14,14,14,14,5823,0.60,B,40.895600,-121.000800,6,20090803,20090803,6035.0,20090803,255,117,174,0,2.267706,109.0
15,15,15,15,5824,35.00,C,40.959400,-121.256100,6,20090802,20090804,6035.0,20090802,253,81,139,152,2.788690,109.0
16,16,16,16,5825,0.10,A,40.532461,-120.666769,6,20040521,20040521,6035.0,20040521,150,28,89,28,2.746145,173.0
17,17,17,17,5826,0.10,A,41.102889,-120.903800,6,20040814,20040814,6035.0,20040814,295,130,214,0,2.958949,147.0
18,18,18,18,5827,0.10,A,40.962200,-121.200000,6,20090801,20090802,6035.0,20090801,270,118,183,0,0.794290,109.0
19,19,19,19,5828,2.90,B,40.808333,-121.199444,6,20070831,20070901,6035.0,20070831,248,87,156,25,3.068045,136.0
20,20,20,20,5829,175.00,D,40.684722,-120.999722,6,20090802,20090802,6035.0,20090802,253,81,139,152,2.788690,109.0
21,21,21,21,5830,51.00,C,40.006570,-120.066040,6,19990605,19990605,6035.0,19990605,211,72,144,41,3.757945,171.0
22,22,22,22,5831,1.75,B,40.616389,-120.799722,6,20090802,20090806,6035.0,20090802,253,81,139,152,2.788690,109.0
23,23,23,23,5832,0.10,A,40.329461,-120.671331,6,20020719,20020719,6035.0,20020719,191,80,124,51,1.506290,141.0
24,24,24,24,5833,3.20,B,41.158200,-120.484400,6,20040814,20040815,6035.0,20040814,295,130,214,0,2.958949,147.0
25,25,25,25,5834,0.10,A,41.000000,-121.207800,6,20090802,20090803,6035.0,20090802,253,81,139,152,2.788690,109.0
26,26,26,26,5835,1.00,B,40.575819,-120.683261,6,19990526,19990526,6035.0,19990526,197,4,89,0,1.041005,167.0
27,27,27,27,5836,0.10,A,40.238333,-121.101667,6,20090802,20090802,6035.0,20090802,253,81,139,152,2.788690,109.0
28,28,28,28,5837,0.50,B,40.725278,-121.175833,6,20090803,20090803,6035.0,20090803,255,117,174,0,2.267706,109.0
29,29,29,29,5838,0.10,A,40.868200,-120.134400,6,20040814,20040815,6035.0,20040814,295,130,214,0,2.958949,147.0

In [13]:
modoc.head(30)

,Unnamed: 0.9,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,...,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,0,0,0,0,0,0,0,0,8193,...,20070710,20070720,6049.0,20070710,348,120,233,0,1.891141,77.500
1,1,1,1,1,1,1,1,1,1,8194,...,20060814,20060815,6049.0,20060814,262,61,137,127,3.032787,98.000
2,2,2,2,2,2,2,2,2,2,8195,...,20070311,20070313,6049.0,20070311,144,13,63,0,2.077111,81.667
3,3,3,3,3,3,3,3,3,3,8196,...,20060814,20060814,6049.0,20060814,262,61,137,127,3.032787,98.000
4,4,4,4,4,4,4,4,4,4,8197,...,20070710,20070711,6049.0,20070710,348,120,233,0,1.891141,77.500
5,5,5,5,5,5,5,5,5,5,8198,...,20070929,20070929,6049.0,20070929,93,-24,34,51,1.570279,72.500
6,6,6,6,6,6,6,6,6,6,8199,...,20070710,20070716,6049.0,20070710,348,120,233,0,1.891141,77.500
7,7,7,7,7,7,7,7,7,7,8200,...,20060723,20060801,6049.0,20060723,322,129,226,0,1.922089,111.333
8,8,8,8,8,8,8,8,8,8,8201,...,20060724,20060725,6049.0,20060724,305,143,204,0,1.302462,111.333
9,9,9,9,9,9,9,9,9,9,8202,...,20070710,20070715,6049.0,20070710,348,120,233,0,1.891141,77.500
10,10,10,10,10,10,10,10,10,10,8203,...,20070901,20070901,6049.0,20070901,253,127,178,0,2.783041,49.000
11,11,11,11,11,11,11,11,11,11,8204,...,20060814,20060814,6049.0,20060814,262,61,137,127,3.032787,98.000
12,12,12,12,12,12,12,12,12,12,8205,...,20070921,20070921,6049.0,20070921,244,74,152,0,1.785185,74.000
13,13,13,13,13,13,13,13,13,13,8206,...,20070710,20070714,6049.0,20070710,348,120,233,0,1.891141,77.500
14,14,14,14,14,14,14,14,14,14,8207,...,20060626,20060629,6049.0,20060626,295,157,212,0,0.794290,155.667
15,15,15,15,15,15,15,15,15,15,8208,...,20060814,20060814,6049.0,20060814,262,61,137,127,3.032787,98.000
16,16,16,16,16,16,16,16,16,16,8209,...,20070710,20070711,6049.0,20070710,348,120,233,0,1.891141,77.500
17,17,17,17,17,17,17,17,17,17,8210,...,20070711,20070711,6049.0,20070711,322,122,207,0,2.827075,77.500
18,18,18,18,18,18,18,18,18,18,8211,...,20060723,20060724,6049.0,20060723,322,129,226,0,1.922089,111.333
19,19,19,19,19,19,19,19,19,19,8212,...,20061010,20061010,6049.0,20061010,93,-8,39,0,3.870116,72.000
20,20,20,20,20,20,20,20,20,20,8213,...,20070710,20070711,6049.0,20070710,348,120,233,0,1.891141,77.500
21,21,21,21,21,21,21,21,21,21,8214,...,20060626,20060626,6049.0,20060626,295,157,212,0,0.794290,155.667
22,22,22,22,22,22,22,22,22,22,8215,...,20040813,20040813,6049.0,20040813,322,117,218,0,2.304886,69.667
23,23,23,23,23,23,23,23,23,23,8216,...,20060725,20060725,6049.0,20060725,314,116,219,0,0.626502,111.333
24,24,24,24,24,24,24,24,24,24,8217,...,20070710,20070710,6049.0,20070710,348,120,233,0,1.891141,77.500
25,25,25,25,25,25,25,25,25,25,8218,...,20060724,20060725,6049.0,20060724,305,143,204,0,1.302462,111.333
26,26,26,26,26,26,26,26,26,26,8219,...,20070710,20070710,6049.0,20070710,348,120,233,0,1.891141,77.500
27,27,27,27,27,27,27,27,27,27,8220,...,20060626,20060627,6049.0,20060626,295,157,212,0,0.794290,155.667
28,28,28,28,28,28,28,28,28,28,8221,...,20070531,20070531,6049.0,20070531,260,43,157,0,2.099146,124.250
29,29,29,29,29,29,29,29,29,29,8222,...,20060626,20060627,6049.0,20060626,295,157,212,0,0.794290,155.667

In [14]:
dorado.head(3)

,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,1793,0.1,A,38.649819,-120.938639,6,20020508,20020508,6017.0,20020508,144,-35,35,0,2.786203,172.0
1,1794,0.1,A,38.705000,-120.587222,6,20080604,20080604,6017.0,20080604,85,25,51,0,5.624106,70.0
2,1795,0.1,A,38.773411,-120.811150,6,20040416,20040416,6017.0,20040416,61,-36,6,0,2.383996,206.0

In [15]:
nevada.head(3)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,0,9300,10.0,C,39.036950,-121.123203,6,20070121,20070121,6057.0,20070121,-1,-74,-46,0,1.764761,76.25
1,1,1,9301,0.1,A,39.365289,-121.124769,6,20040828,20040828,6057.0,20040828,260,74,157,0,0.723467,61.00
2,2,2,9302,0.2,A,39.123450,-121.075389,6,19980809,19980809,6057.0,19980809,232,64,152,0,2.607683,99.75

In [16]:
plumas.head(3)

,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,...,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,0,0,0,0,0,10570,0.10,A,39.899722,...,20060811,20060811,6063.0,20060811,243,35,137,0,1.813398,99
1,1,1,1,1,1,1,10571,0.25,A,40.145833,...,20060709,20060709,6063.0,20060709,239,89,159,0,0.609016,99
2,2,2,2,2,2,2,10572,0.90,B,40.185000,...,20091108,20091108,6063.0,20091108,107,-89,-8,0,1.569229,94

In [17]:
riverside.head(3)

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,0,0,0,0.1,A,33.976008,-116.501361,6,20070616,20070616,6065.0,20070616,406.0,294.0,350.0,0.0,3.773714,67.077
1,1,1,1,1,1.0,B,33.735631,-117.266681,6,20031014,20031014,6065.0,20031014,356.0,211.0,283.0,0.0,1.278828,67.500
2,2,2,2,2,0.1,A,33.663369,-116.312561,6,19990202,19990202,6065.0,19990202,228.0,50.0,139.0,0.0,4.756914,60.667

In [18]:
bernardino.head(3)

,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,13745,0.10,A,35.393300,-115.827800,6,20070810,20070810,6071.0,20070810,439,322,383,0,2.844799,58.615
1,1,13746,0.10,A,34.279722,-116.845833,6,20091113,20091113,6071.0,20091113,439,322,383,0,2.091634,109.333
2,2,13747,0.02,A,34.216389,-116.889167,6,20070812,20070812,6071.0,20070812,439,322,383,0,2.214722,67.000

In [19]:
diego.head(3)

,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,14726,0.1,A,32.661481,-116.598631,6,20041211,20041211,6073.0,20041211,239,56,150,0,3.234333,72.000
1,14727,3.0,B,32.721389,-116.557778,6,19990108,19990109,6073.0,19990108,178,50,117,0,3.375749,0.000
2,14728,0.3,B,32.657803,-116.458650,6,20050601,20050601,6073.0,20050601,250,89,172,0,3.575618,89.667

In [177]:
shasta.head(3)

,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,15990,0.1,A,40.607406,-122.496061,6,20060618,20060618,6089.0,20060618,394,217,306,0,2.997146,118.5
1,15991,0.1,A,40.716389,-121.423889,6,20070710,20070711,6089.0,20070710,394,217,306,0,1.721920,72.5
2,15992,0.5,B,40.497081,-122.360719,6,19980703,19980703,6089.0,19980703,333,161,250,0,4.217491,0.0

In [21]:
siskiyou.head(3)

,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,17144,1.5,B,41.574500,-122.643311,6,20020818,20020819,6093.0,20020818,317,94,206,0,1.686797,103.333
1,17145,0.2,A,41.502239,-122.737850,6,20020722,20020722,6093.0,20020722,283,139,211,0,3.466604,130.000
2,17154,0.1,A,41.719639,-122.757569,6,20020722,20020722,6093.0,20020722,283,139,211,0,3.466604,130.000

In [7]:
fire_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14151 entries, 0 to 14150
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.2     6999 non-null   float64
 1   Unnamed: 0.1     9219 non-null   float64
 2   Unnamed: 0       14151 non-null  int64
 3   FIRE_SIZE        14151 non-null  float64
 4   FIRE_SIZE_CLASS  14151 non-null  object
 5   LATITUDE         14151 non-null  float64
 6   LONGITUDE        14151 non-null  float64
 7   STATE            14151 non-null  int64
 8   START_DATE       14151 non-null  int64
 9   END_DATE         14151 non-null  int64
 10  FIPS             14151 non-null  float64
 11  DATE             14151 non-null  int64
 12  tmax             14137 non-null  float64
 13  tmin             14137 non-null  float64
 14  tavg             14137 non-null  float64
 15  prcp             14137 non-null  float64
 16  aws              14151 non-null  float64
 17  fmc              14151 non-null  float64
 18  Unnamed: 0.7     1031 non-null   float64
 19  Unnamed: 0.6     1459 non-null   float64
 20  Unnamed: 0.5     1781 non-null   float64
 21  Unnamed: 0.4     1781 non-null   float64
 22  Unnamed: 0.3     5718 non-null   float64
 23  Unnamed: 0.9     481 non-null    float64
 24  Unnamed: 0.8     481 non-null    float64
dtypes: float64(19), int64(5), object(1)
memory usage: 2.7+ MB

In [178]:
fire_data.head(500)

,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,1,39.735278,-121.336389,6007.0,20080621.0,389.0,222.0,306.0,0.0,1.245353,96.0
1,1,39.533339,-121.530711,6007.0,20010808.0,411.0,228.0,322.0,0.0,2.611998,0.0
2,1,39.355089,-121.772239,6007.0,20041012.0,328.0,133.0,233.0,0.0,3.008472,0.0
3,1,39.790389,-121.515500,6007.0,20041011.0,322.0,133.0,228.0,0.0,5.034409,0.0
4,2,39.777800,-121.552470,6007.0,20080621.0,389.0,222.0,306.0,0.0,1.245353,96.0
...,...,...,...,...,...,...,...,...,...,...,...
495,1,39.921469,-121.728597,6007.0,20070228.0,389.0,222.0,306.0,0.0,3.104664,110.0
496,1,39.572953,-121.313275,6007.0,20070401.0,389.0,222.0,306.0,0.0,1.793009,102.0
497,1,39.980181,-121.550731,6007.0,20040625.0,333.0,161.0,250.0,0.0,4.080243,0.0
498,1,39.849939,-121.588689,6007.0,19980726.0,383.0,211.0,300.0,0.0,1.055472,0.0
499,1,39.925469,-121.724111,6007.0,20030629.0,361.0,178.0,272.0,0.0,3.184797,0.0

In [213]:
fire_data.drop(["Unnamed: 0.3"], axis = 1, inplace = True)
fire_data.drop(["Unnamed: 0.2"], axis = 1, inplace = True)
fire_data.drop(["Unnamed: 0.1"], axis = 1, inplace = True)
fire_data.drop(["Unnamed: 0"], axis = 1, inplace = True)
fire_data.drop(["STATE"], axis = 1, inplace = True)
fire_data.drop(["START_DATE"], axis = 1, inplace = True)
fire_data.drop(["END_DATE"], axis = 1, inplace = True)

In [214]:
fire_data.drop(["Unnamed: 0.4"], axis = 1, inplace = True)
fire_data.drop(["Unnamed: 0.5"], axis = 1, inplace = True)
fire_data.drop(["Unnamed: 0.6"], axis = 1, inplace = True)
fire_data.drop(["Unnamed: 0.7"], axis = 1, inplace = True)
fire_data.drop(["Unnamed: 0.8"], axis = 1, inplace = True)
fire_data.drop(["Unnamed: 0.9"], axis = 1, inplace = True)

In [215]:
def classify_ranges(df, column_name, ranges, classification_column):
    for range_name, range_values in ranges.items():
        df.loc[df[column_name].between(*range_values), classification_column] = range_name

# Example usage


classification_ranges = {
    'A': (0, 0.25),
    'B': (0.2600000001, 9),
    'C': (9.000000001, 99),
    'D': (99.000000001, 299),
    'E': (299.000000001, 999),
    'F': (999.000000001, 4999),
    'G': (4999.000000001, 10000),
    'G': (10000.000000001, 1000000000)

}
  # Creating a new column to store the classifications
classify_ranges(fire_data, 'FIRE_SIZE', classification_ranges, 'FIRE_SIZE_CLASS')

In [115]:
def classify_ranges(df, column_name, ranges, classification_column):
    for range_name, range_values in ranges.items():
        df.loc[df[column_name].between(*range_values), classification_column] = range_name

# Example usage


classification_ranges = {
    'A': (0, 99),
    'B': (100, 999),
    'C': (1000, 999999999)



}
  # Creating a new column to store the classifications
classify_ranges(fire_data, 'FIRE_SIZE', classification_ranges, 'FIRE_SIZE_CLASS')

In [239]:
fire_data.drop(["FIRE_SIZE"], axis = 1, inplace = True)

In [117]:
fire_data.groupby("FIRE_SIZE_CLASS").count()

,LATITUDE,LONGITUDE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
FIRE_SIZE_CLASS,,,,,,,,,,
A,13796,13796,13796,13796,13782,13782,13782,13782,13796,13796
B,240,240,240,240,240,240,240,240,240,240
C,115,115,115,115,115,115,115,115,115,115

In [118]:
fire_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14151 entries, 0 to 14150
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FIRE_SIZE_CLASS  14151 non-null  object
 1   LATITUDE         14151 non-null  float64
 2   LONGITUDE        14151 non-null  float64
 3   FIPS             14151 non-null  float64
 4   DATE             14151 non-null  int64
 5   tmax             14137 non-null  float64
 6   tmin             14137 non-null  float64
 7   tavg             14137 non-null  float64
 8   prcp             14137 non-null  float64
 9   aws              14151 non-null  float64
 10  fmc              14151 non-null  float64
dtypes: float64(9), int64(1), object(1)
memory usage: 1.2+ MB

In [216]:
fire_data.dropna(inplace = True)
fire_data['FIRE_SIZE_CLASS'] = fire_data['FIRE_SIZE_CLASS'].replace({'A':1 , 'B':2 , 'C':3 ,'D':4 , 'E':5 , 'F':6 , 'G':7 })

In [120]:
fire_data["DATE"] = fire_data["DATE"].astype(float)

In [121]:
x = fire_data.drop("FIRE_SIZE_CLASS", axis=1)
y = fire_data["FIRE_SIZE_CLASS"]

In [168]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = .3, random_state = 101)

In [169]:
X_train = torch.tensor(X_train.values, dtype = torch.float)
Y_train = torch.tensor(Y_train.values, dtype = torch.int64)
X_test = torch.tensor(X_test.values, dtype = torch.float)
Y_test = torch.tensor(Y_test.values, dtype = torch.int64)

In [170]:
class NeuralNetwork(nn.Module):
  def __init__(self):
    super(NeuralNetwork, self).__init__()
    self.hidden1 = nn.Linear(X_train.shape[1], 16)
    self.hidden2 = nn.Linear(16, 1)


  def forward(self, x):
    x = torch.relu(self.hidden1(x))
    x = self.hidden2(x)
    return x

In [171]:
model = NeuralNetwork()
loss_fn = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), .0005)
print(model)

NeuralNetwork(
  (hidden1): Linear(in_features=10, out_features=16, bias=True)
  (hidden2): Linear(in_features=16, out_features=1, bias=True)
)

In [21]:
#Y_train = torch.flatten(Y_train)
#Y_test = torch.flatten(Y_test)

In [172]:
train_data = TensorDataset(X_train, Y_train)
train_loader = DataLoader(train_data, batch_size = 32)

In [173]:
epochs = 10
loss_list = np.zeros((epochs,))

for epoch in range(epochs):
  running_loss = 0
  for inputs, targets in train_loader:
    optimizer.zero_grad() # reset optimizer gradients
    outputs = model(inputs) # forward pass data through nodes and layers
    outputs = torch.flatten(outputs)
    loss = loss_fn(outputs, targets.float()) # compute loss
    loss_list[epoch] = loss.item()
    running_loss += loss.item()
    loss.backward() #backpropagation
    optimizer.step() # update weights

  if epoch%10 == 0:
    print(f"Epoch [{epoch}/10000], Loss: {running_loss/len(train_loader)}")

Epoch [0/10000], Loss: 5548.31165382939

In [174]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import f1_score
model.eval()

with torch.no_grad():
  out = model(X_test)
  print(Y_test)
  _, predicted = torch.max(out.data, 1)
  print(predicted)
  total = Y_test.size(0)
  correct = (predicted == Y_test).sum().item()
  print("Accuracy of the model based on y_test: {}%".format(100 * correct/total))

tensor([2, 1, 1,  ..., 1, 1, 1])
tensor([0, 0, 0,  ..., 0, 0, 0])
Accuracy of the model based on y_test: 0.0%

In [131]:
print(predicted)

tensor([0, 0, 0,  ..., 0, 0, 0])

In [176]:
predictions

tensor([193.6488, 193.3363, 193.9925,  ..., 194.1488, 193.5550, 194.1175])

In [85]:
Y_test

tensor([1, 0, 0,  ..., 0, 0, 0])

In [175]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import f1_score
model.eval()

with torch.no_grad():
    outputs = model(X_test)
    predictions = outputs.flatten().tolist()
    actuals = Y_test.tolist()

predictions = torch.tensor(predictions)
actuals = torch.tensor(actuals)

mse = mean_squared_error(actuals, predictions)
r2 = r2_score(actuals, predictions)
rmse = np.sqrt(mse)

print('Test MSE:', mse)
print("Test r2:", r2)
print('Test RMSE:', rmse)

Test MSE: 37207.458418213544
Test r2: -754295.8551817912
Test RMSE: 192.89234929932692

In [72]:
predictions

tensor([36128.6172, 36035.3672, 36186.4922,  ..., 36203.9922, 36051.2422,
        36223.3672])

In [43]:
Y_test

tensor([2, 1, 1,  ..., 1, 1, 1])

In [102]:
print(classification_report(predictions, Y_test))

ValueError: ignored

In [88]:
from sklearn.metrics import classification_report
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [89]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [103]:
fire_data.groupby("FIRE_SIZE_CLASS").count()

,LATITUDE,LONGITUDE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
FIRE_SIZE_CLASS,,,,,,,,,,
1,13782,13782,13782,13782,13782,13782,13782,13782,13782,13782
2,240,240,240,240,240,240,240,240,240,240
3,94,94,94,94,94,94,94,94,94,94
4,21,21,21,21,21,21,21,21,21,21

In [185]:
fire_data.head(100)

,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,1,39.735278,-121.336389,6007.0,20080621.0,389.0,222.0,306.0,0.0,1.245353,96.0
1,1,39.533339,-121.530711,6007.0,20010808.0,411.0,228.0,322.0,0.0,2.611998,0.0
2,1,39.355089,-121.772239,6007.0,20041012.0,328.0,133.0,233.0,0.0,3.008472,0.0
3,1,39.790389,-121.515500,6007.0,20041011.0,322.0,133.0,228.0,0.0,5.034409,0.0
4,2,39.777800,-121.552470,6007.0,20080621.0,389.0,222.0,306.0,0.0,1.245353,96.0
...,...,...,...,...,...,...,...,...,...,...,...
95,1,39.354961,-121.790100,6007.0,20000612.0,311.0,183.0,250.0,0.0,2.573788,0.0
96,1,39.713872,-121.711642,6007.0,20070610.0,389.0,222.0,306.0,0.0,3.382810,72.0
97,1,39.912242,-121.601475,6007.0,20070916.0,389.0,222.0,306.0,0.0,3.554614,90.0
98,1,39.919900,-121.612800,6007.0,20030831.0,356.0,189.0,272.0,0.0,1.094029,0.0
99,1,39.563981,-121.324731,6007.0,20000628.0,378.0,222.0,300.0,0.0,2.538865,0.0

In [186]:
fire_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14137 entries, 0 to 14150
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FIRE_SIZE_CLASS  14137 non-null  int64
 1   LATITUDE         14137 non-null  float64
 2   LONGITUDE        14137 non-null  float64
 3   FIPS             14137 non-null  float64
 4   DATE             14137 non-null  float64
 5   tmax             14137 non-null  float64
 6   tmin             14137 non-null  float64
 7   tavg             14137 non-null  float64
 8   prcp             14137 non-null  float64
 9   aws              14137 non-null  float64
 10  fmc              14137 non-null  float64
dtypes: float64(10), int64(1)
memory usage: 1.3 MB

In [247]:
x = fire_data.drop("FIRE_SIZE_CLASS", axis=1)
y = fire_data["FIRE_SIZE_CLASS"]

In [263]:

# Sample DataFrame

df = fire_data

# Value to check and remove
value_to_remove = 1
column_to_check = 'FIRE_SIZE_CLASS'

# Check for value in the specified column and remove the corresponding row
if value_to_remove in df[column_to_check].values:
    fire_data1 = df[df[column_to_check] != value_to_remove]
    print(f"Removed rows with {value_to_remove} in {column_to_check} column:\n{df}")
else:
    print(f"{value_to_remove} not found in {column_to_check} column")

# Print the updated DataFrame
print("Updated DataFrame:")
print(df)

Removed rows with 1 in FIRE_SIZE_CLASS column:
       FIRE_SIZE_CLASS   LATITUDE   LONGITUDE    FIPS      DATE   tmax   tmin  \
0                    2  39.735278 -121.336389  6007.0  20080621  389.0  222.0
1                    2  39.533339 -121.530711  6007.0  20010808  411.0  228.0
2                    3  39.355089 -121.772239  6007.0  20041012  328.0  133.0
3                    1  39.790389 -121.515500  6007.0  20041011  322.0  133.0
4                    5  39.777800 -121.552470  6007.0  20080621  389.0  222.0
...                ...        ...         ...     ...       ...    ...    ...
14146                1  41.593239 -122.964950  6093.0  19980809  300.0   83.0
14147                1  41.692989 -122.944450  6093.0  19990811  217.0   94.0
14148                1  41.894319 -122.565000  6093.0  19980818  256.0   72.0
14149                1  41.815219 -121.928339  6093.0  20030707  317.0  111.0
14150                2  41.901689 -121.850519  6093.0  19980813  356.0  144.0

        tavg  prcp       aws      fmc
0      306.0   0.0  1.245353   96.000
1      322.0   0.0  2.611998    0.000
2      233.0   0.0  3.008472    0.000
3      228.0   0.0  5.034409    0.000
4      306.0   0.0  1.245353   96.000
...      ...   ...       ...      ...
14146  194.0   0.0  2.968924  145.333
14147  156.0   0.0  2.820078   95.333
14148  167.0   3.0  2.539713  145.333
14149  217.0   0.0  2.564258  120.000
14150  250.0   0.0  1.026494  145.333

[14137 rows x 11 columns]
Updated DataFrame:
       FIRE_SIZE_CLASS   LATITUDE   LONGITUDE    FIPS      DATE   tmax   tmin  \
0                    2  39.735278 -121.336389  6007.0  20080621  389.0  222.0
1                    2  39.533339 -121.530711  6007.0  20010808  411.0  228.0
2                    3  39.355089 -121.772239  6007.0  20041012  328.0  133.0
3                    1  39.790389 -121.515500  6007.0  20041011  322.0  133.0
4                    5  39.777800 -121.552470  6007.0  20080621  389.0  222.0
...                ...        ...         ...     ...       ...    ...    ...
14146                1  41.593239 -122.964950  6093.0  19980809  300.0   83.0
14147                1  41.692989 -122.944450  6093.0  19990811  217.0   94.0
14148                1  41.894319 -122.565000  6093.0  19980818  256.0   72.0
14149                1  41.815219 -121.928339  6093.0  20030707  317.0  111.0
14150                2  41.901689 -121.850519  6093.0  19980813  356.0  144.0

        tavg  prcp       aws      fmc
0      306.0   0.0  1.245353   96.000
1      322.0   0.0  2.611998    0.000
2      233.0   0.0  3.008472    0.000
3      228.0   0.0  5.034409    0.000
4      306.0   0.0  1.245353   96.000
...      ...   ...       ...      ...
14146  194.0   0.0  2.968924  145.333
14147  156.0   0.0  2.820078   95.333
14148  167.0   3.0  2.539713  145.333
14149  217.0   0.0  2.564258  120.000
14150  250.0   0.0  1.026494  145.333

[14137 rows x 11 columns]

In [190]:
fire_data1.head()

,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
4,2,39.777800,-121.552470,6007.0,20080621.0,389.0,222.0,306.0,0.0,1.245353,96.0
46,2,39.355089,-121.772239,6007.0,20041011.0,322.0,133.0,228.0,0.0,5.034409,0.0
57,2,39.704950,-121.702889,6007.0,20041011.0,322.0,133.0,228.0,0.0,5.034409,0.0
108,3,39.591000,-121.512169,6007.0,20040811.0,400.0,178.0,289.0,0.0,2.404692,0.0
192,2,39.548200,-121.531100,6007.0,20040812.0,389.0,206.0,300.0,0.0,3.032787,0.0

In [197]:
fire_data1.groupby("FIRE_SIZE_CLASS").count()

,LATITUDE,LONGITUDE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
FIRE_SIZE_CLASS,,,,,,,,,,
2,240,240,240,240,240,240,240,240,240,240
3,115,115,115,115,115,115,115,115,115,115

In [264]:
x = fire_data1.drop("FIRE_SIZE_CLASS", axis=1)
y = fire_data1["FIRE_SIZE_CLASS"]

In [265]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.20, random_state = 101)

In [266]:
lm = LogisticRegression()
lm.fit(X_train, Y_train)

LogisticRegression()

In [267]:
predictions = lm.predict(X_test)

In [268]:
mean_squared_error(Y_test, predictions)

0.7439353099730458

In [269]:
print(classification_report(Y_test, predictions))

              precision    recall  f1-score   support

           2       0.83      1.00      0.91       921
           3       0.00      0.00      0.00       123
           4       0.00      0.00      0.00        27
           5       0.00      0.00      0.00        21
           6       0.00      0.00      0.00        13
           7       0.00      0.00      0.00         8

    accuracy                           0.83      1113
   macro avg       0.14      0.17      0.15      1113
weighted avg       0.68      0.83      0.75      1113

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [270]:
print(confusion_matrix(Y_test, predictions))

[[921   0   0   0   0   0]
 [123   0   0   0   0   0]
 [ 27   0   0   0   0   0]
 [ 21   0   0   0   0   0]
 [ 13   0   0   0   0   0]
 [  8   0   0   0   0   0]]

In [224]:
print(accuracy_score(Y_test, predictions))

0.5993635077793493

In [200]:
from sklearn import metrics

In [225]:
mean_squared_error(Y_test, predictions)

0.9550919377652051

In [254]:
r2_score(Y_test, predictions)

-0.40129264663445374

In [271]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train, Y_train)

DecisionTreeClassifier()

In [272]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [273]:
y_pred_dtc = dtc.predict(X_test)

In [274]:
X_test

,LATITUDE,LONGITUDE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
5360,41.530000,-120.858333,6049.0,20070531,260.0,43.0,157.0,0.0,2.099146,124.250
3096,41.306944,-123.549167,6023.0,20081016,150.0,111.0,133.0,0.0,6.674682,101.000
121,39.519100,-121.380719,6007.0,20030828,333.0,156.0,244.0,0.0,3.189442,0.000
6519,38.585556,-120.430833,6017.0,20080621,228.0,120.0,164.0,0.0,1.245353,81.333
3740,35.298636,-119.623397,6029.0,20000515,256.0,122.0,189.0,3.0,2.373940,93.000
...,...,...,...,...,...,...,...,...,...,...
5740,41.436600,-120.611100,6049.0,20010704,294.0,152.0,211.0,0.0,2.524465,83.500
5335,41.617500,-120.251944,6049.0,20060724,305.0,143.0,204.0,0.0,1.302462,111.333
13116,40.666667,-121.433333,6089.0,20090802,394.0,217.0,306.0,0.0,3.851304,129.000
7024,38.748831,-120.881439,6017.0,20040514,131.0,-19.0,50.0,0.0,3.105951,106.000
12707,32.891111,-116.453056,6073.0,20020727,306.0,94.0,200.0,0.0,1.961736,45.000

In [275]:
print(classification_report(Y_test, y_pred_dtc))

              precision    recall  f1-score   support

           2       0.87      0.84      0.86       921
           3       0.22      0.26      0.24       123
           4       0.17      0.19      0.18        27
           5       0.03      0.05      0.04        21
           6       0.00      0.00      0.00        13
           7       0.00      0.00      0.00         8

    accuracy                           0.73      1113
   macro avg       0.22      0.22      0.22      1113
weighted avg       0.75      0.73      0.74      1113

In [276]:
print(confusion_matrix(Y_test, y_pred_dtc))

[[775 100  16  19   8   3]
 [ 72  32   3  10   4   2]
 [ 17   4   5   1   0   0]
 [ 11   4   3   1   0   2]
 [  8   3   2   0   0   0]
 [  4   3   1   0   0   0]]

In [277]:
print(accuracy_score(Y_test, y_pred_dtc))

0.7304582210242587

In [278]:
r2_score(Y_test, y_pred_dtc)

-0.7010377893361599