In [73]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (1.25.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [4]:
pip install seaborn

Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (1.25.1)
Requirement already satisfied: pandas>=0.25 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.41.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import seaborn as sns

In [6]:
import sqlite3

In [74]:
import datetime
from datetime import datetime

In [7]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [8]:
fmoist = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/nfmd_compiled.csv")

In [9]:
fmoistfips = pd.read_excel("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/fuel_with_fips.xlsx")

In [10]:
wind = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/wind_with_fips.csv")

In [11]:
tempprecip = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/tp_zipcode_county.csv")

/var/folders/k6/pycqf6xx791cyp97r5b3jtsm0000gn/T/ipykernel_9273/2941812269.py:1: DtypeWarning: Columns (10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  tempprecip = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/tp_zipcode_county.csv")

In [57]:
cnx = sqlite3.connect('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/FPA_FOD_20170508.sqlite')

query = '''
        SELECT OBJECTID, FOD_ID, FPA_ID, LOCAL_FIRE_REPORT_ID, FIRE_CODE, FIRE_NAME, FIRE_YEAR, DISCOVERY_DATE, DISCOVERY_DOY, DISCOVERY_TIME, CONT_DATE, FIRE_SIZE, FIRE_SIZE_CLASS, LATITUDE, LONGITUDE, STATE, COUNTY, FIPS_CODE, FIPS_NAME
        FROM fires
        WHERE FIRE_CODE IS NOT NULL
        '''
results = cnx.execute(query).fetchall()
cnx.close()

In [58]:
wildfire = pd.DataFrame(results, columns=['OBJECTID', 'FOD_ID', 'FPA_ID', 'LOCAL_FIRE_REPORT_ID', 'FIRE_CODE',
                                    'FIRE_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY', 'DISCOVERY_TIME', 'CONT_DATE', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE', 'LONGITUDE', 'STATE', 'COUNTY', 'FIPS_CODE', 'FIPS_NAME'])

In [14]:
fips = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/us-state-ansi-fips.csv")

In [60]:
wildfire.head(50)

,OBJECTID,FOD_ID,FPA_ID,LOCAL_FIRE_REPORT_ID,FIRE_CODE,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,CONT_DATE,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,FIPS_NAME
0,1,1,FS-1418826,1,BJ8K,FOUNTAIN,2005,2453403.5,33,1300,2453403.5,0.10,A,40.036944,-121.005833,CA,63,063,Plumas
1,2,2,FS-1418827,13,AAC0,PIGEON,2004,2453137.5,133,0845,2453137.5,0.25,A,38.933056,-120.404444,CA,61,061,Placer
2,3,3,FS-1418835,27,A32W,SLACK,2004,2453156.5,152,1921,2453156.5,0.10,A,38.984167,-120.735556,CA,17,017,El Dorado
3,8,8,FS-1418854,3,BK5X,SLATE,2005,2453437.5,67,1300,2453437.5,0.80,B,40.968056,-122.433889,CA,None,None,None
4,9,9,FS-1418856,5,BLPQ,SHASTA,2005,2453444.5,74,1200,2453444.5,1.00,B,41.233611,-122.283333,CA,None,None,None
5,17,17,FS-1418878,109,,POWER,2004,2453284.5,280,1415,2453299.5,16823.00,G,38.523333,-120.211667,CA,5,005,Amador
6,18,18,FS-1418881,111,BHA3,FREDS,2004,2453291.5,287,1618,2453295.5,7700.00,G,38.780000,-120.260000,CA,17,017,El Dorado
7,20,20,FS-1418887,8,AVPA,SPRING,2004,2453160.5,156,1030,2453160.5,0.10,A,33.440833,-105.720556,NM,27,027,Lincoln
8,21,21,FS-1418888,12,A49Y,ANGRY,2004,2453175.5,171,1530,2453175.5,0.10,A,33.307222,-105.628611,NM,27,027,Lincoln
9,22,22,FS-1418893,13,A5DG,DARK,2004,2453177.5,173,1440,2453178.5,0.10,A,33.444444,-105.768056,NM,27,027,Lincoln
10,23,23,FS-1418894,16,AVP4,CHURCH #2,2004,2453181.5,177,1910,2453182.5,0.10,A,33.559444,-105.766111,NM,27,027,Lincoln
11,24,24,FS-1418895,19,AVP4,PINE CONE,2004,2453187.5,183,1250,2453188.5,0.25,A,33.308056,-105.526111,NM,27,027,Lincoln
12,25,25,FS-1418896,20,AVP4,EAGLE,2004,2453187.5,183,1712,2453192.5,2.50,B,33.545278,-105.229444,NM,27,027,Lincoln
13,26,26,FS-1418897,22,AVP4,BACHELOR,2004,2453206.5,202,1405,2453206.5,10.00,C,33.315833,-105.512222,NM,27,027,Lincoln
14,27,27,FS-1418898,31,A0SY,SONTERRA,2004,2453082.5,78,1145,2453082.5,8.20,B,33.444444,-105.631111,NM,27,027,Lincoln
15,28,28,FS-1418903,26,AVP4,PEPPER,2004,2453222.5,218,0945,2453222.5,0.10,A,33.368056,-105.507222,NM,27,027,Lincoln
16,29,29,FS-1418904,33,A0TF,120A,2004,2453082.5,78,1655,2453082.5,0.25,A,33.385278,-105.638611,NM,27,027,Lincoln
17,30,30,FS-1418905,36,A3B1,MUSKETBURN,2004,2453136.5,132,1515,2453136.5,0.25,A,33.382778,-105.700278,NM,27,027,Lincoln
18,31,31,FS-1418906,37,A49X,OREGON,2004,2453175.5,171,1645,2453175.5,0.10,A,33.379722,-105.680278,NM,27,027,Lincoln
19,32,32,FS-1418907,1,BJ9H,0028,2005,2453406.5,36,0943,2453407.5,0.10,A,43.995556,-121.414167,OR,17,017,Deschutes
20,33,33,FS-1418909,15,AVP4,CHURCH #1,2004,2453181.5,177,1927,2453182.5,0.10,A,33.496667,-105.739722,NM,27,027,Lincoln
21,34,34,FS-1418910,38,AVP4,DRY MILLS,2004,2453247.5,243,1030,2453247.5,0.10,A,33.417778,-105.707500,NM,27,027,Lincoln
22,35,35,FS-1418911,41,BEY3,AGUA FRIA,2004,2453289.5,285,1015,2453289.5,0.10,A,33.255278,-105.626111,NM,27,027,Lincoln
23,36,36,FS-1418916,3,BK2W,0044,2005,2453434.5,64,1042,2453434.5,0.10,A,44.043333,-121.386111,OR,17,017,Deschutes
24,37,37,FS-1418917,8,BK8V,TANNASSEE GAP I,2005,2453440.5,70,1500,2453440.5,0.60,B,35.228333,-82.884444,NC,21,021,Buncombe
25,38,38,FS-1418918,2,BJ66,HOWARD GAP,2005,2453397.5,27,2200,2453398.5,50.30,C,35.000278,-83.351111,NC,113,113,Macon
26,39,39,FS-1418919,3,BJ9U,HOT SPRINGS,2005,2453407.5,37,1900,2453407.5,0.10,A,35.931667,-81.716667,NC,27,027,Caldwell
27,40,40,FS-1418920,4,BKC8,AUSTIN CREEK,2005,2453413.5,43,1520,2453414.5,125.00,D,36.001667,-81.590000,NC,27,027,Caldwell
28,41,41,FS-1418921,29,BN3Z,HEADQUARTERS,2005,2453476.5,106,1625,2453476.5,25.00,C,35.985000,-81.851667,NC,11,011,Avery
29,42,42,FS-1418922,44,BQ5X,BLUFF,2005,2453499.5,129,1343,2453499.5,3.00,B,35.900000,-81.683333,NC,27,027,Caldwell
30,43,43,FS-1418923,46,BQ54,MOUNTAIN,2005,2453499.5,129,1900,2453499.5,10.00,C,36.035000,-81.585000,NC,27,027,Caldwell
31,44,44,FS-1418924,6,BMP6,0088,2005,2453465.5,95,1205,2453465.5,0.10,A,43.955556,-121.352222,OR,17,017,Deschutes
32,45,45,FS-1418933,51,BTW2,JOHN,2005,2453527.5,157,1530,2453527.5,0.25,A,42.354722,-105.505556,WY,9,009,Converse
33,46,46,FS-1418934,10,BK9X,WATERLOO,2005,2453440.5,70,1330,2453440.5,10.00,C,35.001389,-83.384167,NC,113,113,Macon
34,47,47,FS-1418935,1,BE07,EARLY,2005,2453440.5,70,1000,2453440.5,5.00,B,44.911111,-119.696111,OR,69,069,Wheeler
35,48,48,FS-1418940,22,BEX1,HATCH,2005,2453535.5,165,1300,2453535.5,0.50,B,39.292222,-105.183056,CO,None,None,None
36,49,49,FS-1418943,2,BKG2,0032,2005,2453417.5,47,1535,2453417.5,0.10,A,43.725278,-121.574167,OR,17,017,Deschutes
37,50,50,FS-1418944,1,BK1B,0041,2005,2453431.5,61,1640,2453431.5,0.10,A,44.410000,-121.315556,OR,17,017,Deschutes
38,51,51,FS-1418945,3,BE0X,HALFWAY 108,2005,2453518.5,148,1441,2453518.5,0.10,A,42.133889,-121.234167,OR,37,037,Lake
39,52,52,FS-1418953,1,BR37,PARADISE 104,2005,2453507.5,137,1400,2453507.5,0.10,A,42.311389,-120.902778,OR,37,037,Lake
40,53,53,FS-1418954,2,B50B,STUMP 106,2005,2453517.5,147,1539,2453517.5,0.10,A,42.950833,-120.836111,OR,37,037,Lake
41,54,54,FS-1418965,1,BM2B,CRYSTAL SPRINGS,2005,2453467.5,97,1615,2453467.5,0.10,A,44.816111,-107.331111,WY,33,033,Sheridan
42,55,55,FS-1418966,3,BE07,UPPER JIM,2005,2453540.5,170,1430,2453541.5,0.30,B,46.220833,-117.785000,WA,27,027,Grays Harbor
43,56,56,FS-1418969,8,BE0X,COTTONWOOD 128,2005,2453546.5,176,1800,2453547.5,0.10,A,42.386944,-120.808611,OR,37,037,Lake
44,57,57,FS-1418970,6,BE0X,OBENCHAIN 125,2005,2453546.5,176,1300,2453546.5,2.00,B,42.514722,-121.120000,OR,37,037,Lake
45,58,58,FS-1418971,4,BEW1,IOWA FLATS,2005,2453437.5,67,1334,2453437.5,0.50,B,48.921944,-115.092500,MT,53,053,Lincoln
46,59,59,FS-1418973,3,BK5T,GATEWAY,2005,2453435.5,65,1510,2453435.5,9.00,B,48.998333,-115.165556,MT,53,053,Lincoln
47,60,60,FS-1418974,4,BE0X,JUNIOR 122,2005,2453545.5,175,1845,2453545.5,0.10,A,42.921389,-121.030833,OR,37,037,Lake
48,61,61,FS-1418975,28,BUS5,HAINES POINT,2005,2453537.5,167,1234,2453538.5,5.00,B,47.665556,-115.569167,MT,89,089,Sanders
49,62,62,FS-1418976,14,BEX1,TROUT CREEK II,2005,2453520.5,150,1100,2453521.5,0.20,A,38.913333,-105.983611,CO,None,None,None

In [63]:
wildfire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324829 entries, 0 to 324828
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   OBJECTID              324829 non-null  int64
 1   FOD_ID                324829 non-null  int64
 2   FPA_ID                324829 non-null  object
 3   LOCAL_FIRE_REPORT_ID  212258 non-null  object
 4   FIRE_CODE             324829 non-null  object
 5   FIRE_NAME             324718 non-null  object
 6   FIRE_YEAR             324829 non-null  int64
 7   DISCOVERY_DATE        324829 non-null  float64
 8   DISCOVERY_DOY         324829 non-null  int64
 9   DISCOVERY_TIME        322586 non-null  object
 10  CONT_DATE             318827 non-null  float64
 11  FIRE_SIZE             324829 non-null  float64
 12  FIRE_SIZE_CLASS       324829 non-null  object
 13  LATITUDE              324829 non-null  float64
 14  LONGITUDE             324829 non-null  float64
 15  STATE                 324829 non-null  object
 16  COUNTY                167463 non-null  object
 17  FIPS_CODE             167463 non-null  object
 18  FIPS_NAME             167463 non-null  object
dtypes: float64(5), int64(4), object(10)
memory usage: 47.1+ MB

In [17]:
fips.head()

       stname   st  stusps
0     Alabama    1      AL
1      Alaska    2      AK
2     Arizona    4      AZ
3    Arkansas    5      AR
4  California    6      CA

In [18]:
fips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   stname   51 non-null     object
 1    st      51 non-null     int64
 2    stusps  51 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [19]:
fips.iloc[1 ,2]

' AK'

In [20]:
fips.to_string()

'                  stname   st  stusps\n0                Alabama    1      AL\n1                 Alaska    2      AK\n2                Arizona    4      AZ\n3               Arkansas    5      AR\n4             California    6      CA\n5               Colorado    8      CO\n6            Connecticut    9      CT\n7               Delaware   10      DE\n8   District of Columbia   11      DC\n9                Florida   12      FL\n10               Georgia   13      GA\n11                Hawaii   15      HI\n12                 Idaho   16      ID\n13              Illinois   17      IL\n14               Indiana   18      IN\n15                  Iowa   19      IA\n16                Kansas   20      KS\n17              Kentucky   21      KY\n18             Louisiana   22      LA\n19                 Maine   23      ME\n20              Maryland   24      MD\n21         Massachusetts   25      MA\n22              Michigan   26      MI\n23             Minnesota   27      MN\n24           Mississippi   28      MS\n25              Missouri   29      MO\n26               Montana   30      MT\n27              Nebraska   31      NE\n28                Nevada   32      NV\n29         New Hampshire   33      NH\n30            New Jersey   34      NJ\n31            New Mexico   35      NM\n32              New York   36      NY\n33        North Carolina   37      NC\n34          North Dakota   38      ND\n35                  Ohio   39      OH\n36              Oklahoma   40      OK\n37                Oregon   41      OR\n38          Pennsylvania   42      PA\n39          Rhode Island   44      RI\n40        South Carolina   45      SC\n41          South Dakota   46      SD\n42             Tennessee   47      TN\n43                 Texas   48      TX\n44                  Utah   49      UT\n45               Vermont   50      VT\n46              Virginia   51      VA\n47            Washington   53      WA\n48         West Virginia   54      WV\n49             Wisconsin   55      WI\n50               Wyoming   56      WY'

In [101]:
wildfire["STATE"] = " "+wildfire["STATE"]

In [102]:
for i in range(0, len(fips)):
    wildfire["STATE"].replace(fips.iloc[i ,2], fips.iloc[i ,1], inplace=True)

In [ ]:
wildfire.drop()

In [103]:
wildfire["STATE"] = wildfire["STATE"].astype("string")

In [32]:
wildfire["FIPS_CODE"] = wildfire["FIPS_CODE"].astype("string")

In [104]:
wildfire["FIPS"] = wildfire.STATE + wildfire.FIPS_CODE

In [85]:
wildfire["DATE"] = 0

In [105]:
wildfire.head(10)

,OBJECTID,FOD_ID,FPA_ID,LOCAL_FIRE_REPORT_ID,FIRE_CODE,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,CONT_DATE,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,DATE,FIPS
0,1,1,FS-1418826,1,BJ8K,FOUNTAIN,2005,2453403.5,33,1300,2453403.5,0.10,A,40.036944,-121.005833,6,63,063,2005-02-02,6063
1,2,2,FS-1418827,13,AAC0,PIGEON,2004,2453137.5,133,0845,2453137.5,0.25,A,38.933056,-120.404444,6,61,061,2004-05-12,6061
2,3,3,FS-1418835,27,A32W,SLACK,2004,2453156.5,152,1921,2453156.5,0.10,A,38.984167,-120.735556,6,17,017,2004-05-31,6017
3,8,8,FS-1418854,3,BK5X,SLATE,2005,2453437.5,67,1300,2453437.5,0.80,B,40.968056,-122.433889,6,None,None,2005-03-08,<NA>
4,9,9,FS-1418856,5,BLPQ,SHASTA,2005,2453444.5,74,1200,2453444.5,1.00,B,41.233611,-122.283333,6,None,None,2005-03-15,<NA>
5,17,17,FS-1418878,109,,POWER,2004,2453284.5,280,1415,2453299.5,16823.00,G,38.523333,-120.211667,6,5,005,2004-10-06,6005
6,18,18,FS-1418881,111,BHA3,FREDS,2004,2453291.5,287,1618,2453295.5,7700.00,G,38.780000,-120.260000,6,17,017,2004-10-13,6017
7,20,20,FS-1418887,8,AVPA,SPRING,2004,2453160.5,156,1030,2453160.5,0.10,A,33.440833,-105.720556,35,27,027,2004-06-04,35027
8,21,21,FS-1418888,12,A49Y,ANGRY,2004,2453175.5,171,1530,2453175.5,0.10,A,33.307222,-105.628611,35,27,027,2004-06-19,35027
9,22,22,FS-1418893,13,A5DG,DARK,2004,2453177.5,173,1440,2453178.5,0.10,A,33.444444,-105.768056,35,27,027,2004-06-21,35027

In [46]:
for i in range(0, len(wildfire)):
    wildfire.iloc[i, 18] = datetime.date.fromtimestamp(wildfire.iloc[i, 7])

In [80]:
wildfire["DISCOVERY_DOY"] = wildfire["DISCOVERY_DOY"].astype("string")

In [81]:
wildfire["FIRE_YEAR"] = wildfire["FIRE_YEAR"].astype("string")

In [83]:
for i in range(0, len(wildfire)):
    wildfire.iloc[i, 18] = datetime.strptime(wildfire.iloc[i, 6] + "-" + wildfire.iloc[i, 8], "%Y-%j").strftime("%Y-%m-%d")

In [89]:
wildfire["DATE"] = wildfire["FIPS_NAME"]

In [91]:
wildfire.drop("FIPS_NAME", axis=1, inplace=True)

In [107]:
wildfire.to_csv('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/updated_wildfire.csv', index=False)

In [8]:
wildfire0 = pd.read_csv("./Datasets/updated_wildfire.csv")

wildfire0.head(1000)

/var/folders/49/5ympyqjx7098rbtxzlhjcgx40000gn/T/ipykernel_54222/2782985276.py:1: DtypeWarning: Columns (15,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  wildfire0 = pd.read_csv("./Datasets/updated_wildfire.csv")

,OBJECTID,FOD_ID,FPA_ID,LOCAL_FIRE_REPORT_ID,FIRE_CODE,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,CONT_DATE,...,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,START_DATE,END_DATE,FIPS
0,1,1,FS-1418826,1.0,BJ8K,FOUNTAIN,2005,2453403.5,33,2453403.5,...,0.10,A,40.036944,-121.005833,6,63.0,63.0,2005-02-02,2005-02-02,6063.0
1,2,2,FS-1418827,13.0,AAC0,PIGEON,2004,2453137.5,133,2453137.5,...,0.25,A,38.933056,-120.404444,6,61.0,61.0,2004-05-12,2004-05-12,6061.0
2,3,3,FS-1418835,27.0,A32W,SLACK,2004,2453156.5,152,2453156.5,...,0.10,A,38.984167,-120.735556,6,17.0,17.0,2004-05-31,2004-05-31,6017.0
3,8,8,FS-1418854,3.0,BK5X,SLATE,2005,2453437.5,67,2453437.5,...,0.80,B,40.968056,-122.433889,6,NaN,NaN,2005-03-08,2005-03-08,NaN
4,9,9,FS-1418856,5.0,BLPQ,SHASTA,2005,2453444.5,74,2453444.5,...,1.00,B,41.233611,-122.283333,6,NaN,NaN,2005-03-15,2005-03-15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1009,1021,FS-1421100,34.0,BE1K,034 IUA 11,2005,2453603.5,233,2453603.5,...,15.00,C,31.066667,-92.958333,22,NaN,NaN,2005-08-21,2005-08-21,NaN
996,1010,1022,FS-1421101,87.0,B21A,BROOM CORN,2005,2453584.5,214,2453584.5,...,0.50,B,37.088056,-101.636944,20,NaN,NaN,2005-08-02,2005-08-02,NaN
997,1011,1023,FS-1421107,3.0,BPB1,ROBERTS GULCH,2005,2453523.5,153,2453523.5,...,0.25,A,45.297500,-106.442500,30,87.0,87.0,2005-06-02,2005-06-02,30087.0
998,1012,1024,FS-1421110,5.0,BV0S,GATE,2005,2453544.5,174,2453545.5,...,4.50,B,45.420556,-106.380833,30,87.0,87.0,2005-06-23,2005-06-24,30087.0
999,1013,1025,FS-1421112,7.0,BV93,HORSE RANGE,2005,2453546.5,176,2453547.5,...,4.00,B,45.354722,-106.097778,30,75.0,75.0,2005-06-25,2005-06-26,30075.0

In [21]:
wildfire0["FIPS"]

0         6063.0
1         6061.0
2         6017.0
3            NaN
4            NaN
           ...
324824     49023
324825      8123
324826     35035
324827     31045
324828      6065
Name: FIPS, Length: 324829, dtype: object

In [19]:
import urllib, json, urllib.request

def find_FIPS(lat, lon):
  # do something with arg1 and arg2

    # Read in the data from the API to get the FIPS
    url = 'https://geo.fcc.gov/api/census/area?lat=' + lat + '&lon=' + lon + '&format=json';
    req = urllib.request.Request(url)
    req.add_header('User-Agent', 'Mozilla/5.0')

    with urllib.request.urlopen(req) as url:
        data = json.loads(url.read().decode())
        print(data)

    print(json.dumps(data, indent=4, sort_keys=True))

    print(data['results'][0]['state_fips'])
    print(data['results'][0]['county_fips'])
    print(data['results'][0]['county_name'])

    return data

{'input': {'lat': 42.3295, 'lon': -71.0826, 'censusYear': '2020'}, 'results': [{'block_fips': '250250804011021', 'bbox': [-71.083358, 42.329297, -71.082166, 42.330103], 'county_fips': '25025', 'county_name': 'Suffolk County', 'state_fips': '25', 'state_code': 'MA', 'state_name': 'Massachusetts', 'block_pop_2020': 0, 'amt': 'AMT001', 'bea': 'BEA003', 'bta': 'BTA051', 'cma': 'CMA006', 'eag': 'EAG701', 'ivm': 'IVM006', 'mea': 'MEA001', 'mta': 'MTA008', 'pea': 'PEA007', 'rea': 'REA001', 'rpc': 'RPC001', 'vpc': 'VPC001'}]}
{
    "input": {
        "censusYear": "2020",
        "lat": 42.3295,
        "lon": -71.0826
    },
    "results": [
        {
            "amt": "AMT001",
            "bbox": [
                -71.083358,
                42.329297,
                -71.082166,
                42.330103
            ],
            "bea": "BEA003",
            "block_fips": "250250804011021",
            "block_pop_2020": 0,
            "bta": "BTA051",
            "cma": "CMA006",
            "county_fips": "25025",
            "county_name": "Suffolk County",
            "eag": "EAG701",
            "ivm": "IVM006",
            "mea": "MEA001",
            "mta": "MTA008",
            "pea": "PEA007",
            "rea": "REA001",
            "rpc": "RPC001",
            "state_code": "MA",
            "state_fips": "25",
            "state_name": "Massachusetts",
            "vpc": "VPC001"
        }
    ]
}
25
25025
Suffolk County

In [6]:
wildfire0.head()

,OBJECTID,FOD_ID,FPA_ID,LOCAL_FIRE_REPORT_ID,FIRE_CODE,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,CONT_DATE,...,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,START_DATE,END_DATE,FIPS
0,1,1,FS-1418826,1.0,BJ8K,FOUNTAIN,2005,2453403.5,33,2453403.5,...,0.10,A,40.036944,-121.005833,6,63.0,63.0,2005-02-02,2005-02-02,6063.0
1,2,2,FS-1418827,13.0,AAC0,PIGEON,2004,2453137.5,133,2453137.5,...,0.25,A,38.933056,-120.404444,6,61.0,61.0,2004-05-12,2004-05-12,6061.0
2,3,3,FS-1418835,27.0,A32W,SLACK,2004,2453156.5,152,2453156.5,...,0.10,A,38.984167,-120.735556,6,17.0,17.0,2004-05-31,2004-05-31,6017.0
3,8,8,FS-1418854,3.0,BK5X,SLATE,2005,2453437.5,67,2453437.5,...,0.80,B,40.968056,-122.433889,6,NaN,NaN,2005-03-08,2005-03-08,NaN
4,9,9,FS-1418856,5.0,BLPQ,SHASTA,2005,2453444.5,74,2453444.5,...,1.00,B,41.233611,-122.283333,6,NaN,NaN,2005-03-15,2005-03-15,NaN

In [28]:
fmoist.head()

,gacc,state,group,site,date,fuel,percent,latitude,longitude
0,AICC,AK,Interagency,Anchorage-Campbell Tract,2016-06-15,"Birch, Resin",145,61.158056,-149.773611
1,AICC,AK,Interagency,Anchorage-Campbell Tract,2016-05-13,"Birch, Resin",134,61.158056,-149.773611
2,AICC,AK,Interagency,Anchorage-Campbell Tract,2015-05-27,"Birch, Resin",174,61.158056,-149.773611
3,AICC,AK,Interagency,Anchorage-Campbell Tract,2014-08-21,"Birch, Resin",124,61.158056,-149.773611
4,AICC,AK,Interagency,Anchorage-Campbell Tract,2014-07-14,"Birch, Resin",133,61.158056,-149.773611

In [29]:
fmoistfips.head()

,Unnamed: 0,date,percent,latitude,longitude,state,zipcode,county,fips
0,0,1977-04-14,203.0,37.489,-122.319,CA,94002,San Mateo County,6081
1,1,1977-04-14,176.0,37.245,-122.110,CA,95070,Santa Clara County,6085
2,2,1977-04-15,96.0,37.004,-121.816,CA,95003,Santa Cruz County,6087
3,3,1977-05-03,177.0,37.004,-121.816,CA,95003,Santa Cruz County,6087
4,4,1977-05-05,166.0,37.489,-122.319,CA,94002,San Mateo County,6081

In [30]:
wind.head()

,date,latitude,longitude,wind_u,wind_v,aws,zipcode,county,fips
0,1992-01-01,65.7125,-148.125,-1.139999,-3.020004,3.228006,99775,Fairbanks North Star Borough,2090
1,1992-01-02,65.7125,-148.125,-1.819992,-2.419998,3.027996,99775,Fairbanks North Star Borough,2090
2,1992-01-03,65.7125,-148.125,0.309998,-1.869995,1.895516,99775,Fairbanks North Star Borough,2090
3,1992-01-04,65.7125,-148.125,-1.240006,-2.470001,2.763787,99775,Fairbanks North Star Borough,2090
4,1992-01-05,65.7125,-148.125,0.130005,-1.949997,1.954326,99775,Fairbanks North Star Borough,2090

In [ ]:
tempprecip.head()

In [4]:
firedata = pd.DataFrame()
firedata.head(10)

Empty DataFrame
Columns: []
Index: []